<div class="well well-lg">
	<h3>Enter your Rx for your Left Eye</h3>
	<div ng-controller="EnterPrescriptionController">
		<div class="col-md-6"> 
			<h4>Left Eye (OS)</h4>
			<hr />

			<div class="form-group" ng-repeat="(key, prop) in itemWorkflowService.product.dimensions">
				<span>{{ key }}</span>
				<select class="form-control" ng-model="leftEyeDimensions[key]">
					<option ng-repeat="option in prop.options">{{ option }}</option>
				</select>
			</div>
		</div>
		<div class="col-md-6"> 
			<h4>Right Eye (OD)</h4>
			<hr />

			<div class="form-group" ng-repeat="(key, prop) in itemWorkflowService.product.dimensions">
				<span>{{ key }}</span>
				<select class="form-control" ng-model="rightEyeDimensions[key]">
					<option ng-repeat="option in prop.options" >{{ option }}</option>
				</select>
			</div>
		</div>
		<button type="button" class="btn btn-default" ng-click="enterPrescription()">Enter</button>
	</div>
</div>