<div class="form-group">
	<select class="form-control">
		<option>Power</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control">
		<option>BC</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control">
		<option>DIA</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control">
		<option>CYL</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control">
		<option>Axis</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control">
		<option>Color</option>
	</select>
</div>