.navbar-default {
	background-color: #17237f;
	padding: 10px;
}

#fixed-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFF;
}

#main-content {
	margin-top: 120px;
}

.circle {
	display: inline-block;
	border: 1px solid #6F88D8;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	padding-left: 5px;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

hr {
	border-color: #ccc;
}